.RData
.Rhistory
todo.md
advances-in-bayesian-time-series-modeling-and-the-study-of-politics-theory-testing-forecasting-and-policy-analysis.pdf
gill(2012).pdf
bayesian-combination-of-state-polls-and-election-forecasts.pdf
06-BA101.pdf
